
 nav{
     width: 100%;
     height: 78px;
 }
 .logo{
    float: left;
    overflow: hidden;
    vertical-align:middle;
    margin:9px 0;
}
 .clearfix:after{
     content: "";
     clear:both;
     display: block;;
 }
 .head-normal{
    height:100%;
  }
nav .Related_web{
    display: inline-block;
}
nav .Related_web li{
    float: left;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
}
nav .Related_web a{  
    font:18px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
    color: #ffffff;
    padding:5px 10px;
}
.Related_list > li p{
    display: block;
    color: #aeaeae;
    font-size: 11px;
    margin-top: -1px;
    letter-spacing: 1px;
}
.fuction{
    float:right;
    margin-top: 19px;
}
.icon-fuction{
    float: left;
}
.icon_list li{
    width: 40px; 
    height: 40px;
    float: left;
}
.icon_list :nth-last-child(3){
    margin-right: 12px;
}
.icon_list :nth-last-child(2){
    margin-right: 40px;
}
.icon_list a{
    width: 100%; 
    height: 100%;
}
.signin{
    color: #fff;
    float: right;
    margin-top: 9px;
    margin-right: 18px;
}
/* nav .icon-fuction{
    float: right;
    margin-right: 58px;
  }
nav .icon-fuction ul{
    margin-top: 19px;;
  }

 */

/* .main{
    text-align: center;
    border: 1px solid;
    width: 1920px;
    height: 990px;
    display: inline-block;
}
.bgv{
    border: 5px solid;
    background: url(./lol_picture/bg_picture.jpg) no-repeat;
} */