
 nav{
     width: 100%;
     height: 78px;
 }
 .logo{
    float: left;
    overflow: hidden;
    vertical-align:middle;
    margin:9px 0;
}
 .clearfix:after{
     content: "";
     clear:both;
     display: block;;
 }
 nav::before{
    height: 130px;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to top, rgba(251, 251, 251, 0) 0%, rgb(87, 87, 87) 66%, rgb(4, 4, 4) 100%);
 }
 nav .head-normal{
    height:100%;
    top: 0;
    margin: 0 auto;
    position: relative;
    z-index: 20;
  }
nav .Related_web{
    display: inline-block;
}
nav .Related_web li{
    float: left;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
}
nav .Related_web a{  
    font:18px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
    color: #ffffff;
    padding:5px 10px;
}
.Related_list > li p{
    display: block;
    color: #aeaeae;
    font-size: 11px;
    margin-top: -1px;
    letter-spacing: 1px;
}
.fuction{
    float:right;
    margin-top: 19px;
}
.icon-fuction{
    float: left;
}
.icon_list{
    margin-left:-20px;
}
.icon_list li{
    width: 40px; 
    height: 40px;
    float: left;
}
.icon_list :nth-last-child(3){
    margin-right: 12px;
}
.icon_list :nth-last-child(2){
    margin-right: 40px;
}
.icon_list a{
    width: 100%; 
    height: 100%;
}
.signin{
    color: #fff;
    float: right;
    margin-top: 9px;
    margin-right: 18px;
}
.signin a{
    color: #fff3d0;
}
.comm-topact{
    width: 100%;
    min-width: 1230px;
    height: 720px;
    overflow: hidden;
    position: absolute;

}
.comm-topact > .comm-main{
    width: 1920px;
    height: 720px;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}
.comm-topact > img{
    position: absolute;
    left: 50%;
    top: 0;
    width: 1920px;
    height: 100%;
    margin-left: -960px;
    z-index: 1;
}
.comm-main > .more{
    width: 1920px;
    text-align: center;
    position: absolute;
    top: 82%;
}
.more > button{
    border: 1px solid #c89b2f;
    opacity: 0.6;
    width: 160px;
    height: 40px;
    z-index: 4;
    background-color: #100c0e;
}
.more > button > a{
    color: #c89b2f;
    width: 100%;
    padding: 10.5px 0;
}
.more > button:hover{
    opacity: 0.8;
}
.version{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -58px;
    font-size: 14px;
    color: #888787;
    margin-right: 299px
}
.version > em{
    color: #f5d185;
    margin-right: 10px;
}
.version > button{
    border: 2px solid #c89b2f;
    background-color: #100c0e;
    opacity: 0 .8;
}
.version > button:hover{
    opacity: 1;
}
.version > button > a{
    color: #c89b2f;
    padding: 0 15px;
}
.g-zoombox{
    width: 100%;
    min-width:1358px;
    height: auto;
    margin: 0 auto;
}
.infor{
    width: 1358px;
    height: auto;
    margin: 0 auto;
    padding: 40px 0 80px 0;
}
.infor_all  > .Events{
    float: left;
}
.Events .Events_list{
    margin-top: -4px;
}
.Events .Events_list span{
    list-style: none;
    float: left;
    width: 164px;
    height: 40px;
    box-sizing: border-box;
    background-color: #e3e2e2;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #424242;
    letter-spacing: 1px;
}
.Events_list > span > a{
    color: #000;
    width: 100%;
    border-bottom: 2px solid transparent;
}
.Events_list > span > a:hover{
    border-bottom: 2px solid #c89b2f;
    background-color: white;
    color: #c89b2f;
}
.infor_all > .details{
    float: right;
    width: 496px;
    overflow: visible;
    box-sizing: border-box;
    border-bottom: 1px #e0e2e2 solid;
}
.details > .details_title{
    width:596px;
}
.details > .details_title > li{
    float: left;
    margin-right: 74px;
    
}
.details_title > li >a{
    margin-bottom: 12px;
    color: #000000;
} 
.details_title > li >a:hover{
    font-weight: 700;
    color: #1da6ba;
}
.details_title > li:after{
    content: '\0020';
    position: absolute;
    background-image: url(//ossweb-img.qq.com/images/lol/v3/tab-title-selected.png);
    background-position: center center;
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    transition: width .2s,left .2s,margin-left .2s; 
}
.details_title > li:hover{
    display: block;
}
.details_content  .first{
    width: 496px;
    line-height: 59px;
    text-align: center;
}
.first > a{
    color: #0da0b4;
    font-size: 22px;
    font-weight: 700;
}
.newsitem{
    list-style: none;
    width: 496px;
    height: 40px;
    line-height: 39px;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px #e0e2e2 solid;
    text-align: left;
    font-size: 0;
}
.newsitem > a{
    font-size: 16px;
    color: #000000;
    font-family: sans-serif;
    width: 370px;
    height: 39px;
}
.newsitem > a:hover{
    color: #6388c5;
}
.item-type{
    font-size: 12px;
    border: 1px solid #97afc5;
    padding: 1px 5px;
    margin-right: 20px;
    color: #6388c5;
}
.item-time{
    font-size: 14px;
    margin-left: 32px;
    color: #b3b3b3;
}
.btn-morenews{
    width: 496px;
    height: 40px;
    background-color: #e3e2e2;
    line-height: 40px;
    text-align: center;
    color: #7ea1a6;
    margin-top: 5px;
}
.btn-morenews:hover{
    background-color: #dad8d8;
}
.m-act{
    margin-top: 50px;
}
.part-top-tab{
    position: relative;
    width: 820px;
    height: 35px;
}
.part-top-tab > h2{
    position: absolute;
}
.part-tab-title{
    position: absolute;
    top: 0;
    left: 128px;
}
.part-tab-title > li{
    float: left;
    line-height: 28px;
    margin-right: 40px;
}
.part-tab-title > li > a{
    color: #000000;
    font-weight: 700;
}
.part-top-tab > a{
    position: absolute;
    right: 2px;
    line-height: 28px;
    color: #6388c5;
}
.m-act-list{
    width: 820px;
}
#J_actListContainer{
    margin-right: -32px;
}
.act-item{
    float: left;
    margin-right: 16px;
}

